APP_NAME=Unix
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=Unix
DB_USERNAME=postgres
DB_PASSWORD=

FILESYSTEM_DISK=r2

# A remplir plus tard, une fois les comptes crees
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_WS_URL=

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=

CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_MODE=TEST

BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_SECURITY_KEY=